* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(/assets/img/fondo.png);
    background-size: 100%;
    font-family: sans-serif;
}

p {
    font-weight: bold;
    font-size: 20px;
}

#saludoSaldo {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    align-items: center;
}

h1 {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: center;
}

.titulo{
    margin-top: -70px;
    margin-left: 32%;
    font-size: 50px;
}

.login {
    border-radius: 20px;
    background-color: white;
    width: 370px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login label {
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: justify;
    font-size: 15px;
}

.login-input {
    width: 230px;
    height: 35px;
    background-color: rgb(202, 200, 200);
    margin: 15px;
    border: none;
    border-radius: 10px;
}

.login form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login .btn {
    background-color: green;
    color: aliceblue;
    cursor: pointer;
    margin: 10px 30px 10px 30px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    border-color: transparent;
}

.login .btn:hover {
    background-color: white;
    color: green;
    border-color: green;
}

.modal{
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-body p {
    font-weight: normal;
}
.modal-body #iconoModal{
    
    color: green;
    font-size: 50px;
    margin: 5px;
}

.barra {
    height: 90px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.btn-salir {
    display: flex;
    width: 180px;
    height: 40px;
    margin-top: -70px;
    font-weight: bold;
    justify-content: center;
    background-color: green;
    border-radius: 10px;
    border-color: transparent;
    float: right;   
    cursor: pointer;
    color: white;
    font-size: 18px;
}


.btn-salir:hover {
    color: green;
    background-color: white;
    border-color: green;
}
.logo-frase{
    width: 120px;
    height: 120px;
    margin-top: 20px;

}
.logotipo {
    margin-top: -30px;
    margin-left: -10px;
    height: 65px;
}

.titulo-consult {
    margin-top: 20px;
}

#btonconsult {
    cursor: pointer;
    padding: 5px;
    width: 160px;
    margin-left: 5px;
    margin-top: 50px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border: 20px;
    border-color: transparent;
}
#btonconsult:hover{
    color: green;
    background-color: white;
    border-color: green;
}   

.seccionConsultar {
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin-top: -60px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
    display: none;
    text-align: justify;
    padding: 40px;
}

.seccionConsultar img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid 2px black;
}

.seccionConsignar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 350px;
    margin-top: -60px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    display: none;
    padding: 40px;
}

.titu-consig {
    justify-content: center;
    text-align: center;
    background-color: green;
    width: 300px;
    height: 25px;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.input-consig,
.input-consigdos {
    border: none;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: center;
    width: 250px;
    font-size: 15px;
    margin-left: 50px;
    margin-bottom: 10px;
    outline: none;
    display: flex;
    flex-direction: column;
}

.img-consing {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 130px;
    border-radius: 100px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
}

#boton-consig {
    padding: 5px;
    width: 160px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border: 20px;
    border-color: transparent;
}

#boton-consig:hover {
    color: green;
    background-color: white;
    border-color: green;
}

.label-consing {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.label-consingdos {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.secciontrans {
    flex-direction: column;
    width: 400px;
    height: 550px;
    margin-top: -110px;
    margin-left: -50px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 40px;
}

.titulo-trans {
    background-color: green;
    width: 300px;
    height: -200px;
    font-size: 20px;
    text-align: center;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.input-trans,
.input-transdos {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    width: 240px;
    border: none;
    outline: none;
    border-bottom: solid 2px black;
    background-repeat: no-repeat;
}

.tipos-bancos {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-left: 40px;
    width: 240px;
    outline: none;
    border: none;
    border-bottom: solid 2px black;
    background-repeat: no-repeat;
}

.img-trans {
    width: 110px;
    height: 110px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 100px;
    border: solid 2px black;
    background-repeat: no-repeat;
}

#btn-trans {
    padding: 5px;
    width: 160px;
    margin-top: 20px;
    margin-left: 80px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;
    background-repeat: no-repeat;
}

#btn-trans:hover {
    color: green;
    background-color: white;
    border-color: green;
}

.label-trans {
    margin-top: 30px;
    margin-left: 60px;
    font-size: 15px;
    font-weight: bold;
}

.label-transdos {
    margin-top: -200px;
    margin-left: 60px;
    font-size: 15px;
    font-weight: bold;
    background-repeat: no-repeat;
}

.label-bancos {
    margin-top: 20px;
    margin-left: 60px;
    font-size: 15px;
    font-weight: bold;
}

.seccionRetirar {
    flex-direction: column;
    width: 450px;
    height: 350px;
    margin-top: -60px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 40PX;
}

.inputretirar {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 80px;
    width: 220px;
    border: none;
    border-bottom: solid 2px black;
    outline: none;
    display: flex;
    flex-direction: column;
}

.tituloretirar {
    background-color: green;
    width: 300px;
    height: -200px;
    margin-top: 10px;
    margin-left: 35px;
    font-size: 20px;
    text-align: center;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}

.imgretirar {
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-left: 120px;
    border-radius: 100px;
    border: solid 2px black;
}

#boton-retirar {
    padding: 5px;
    width: 160px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;
}

#boton-retirar:hover {
    color: green;
    background-color: white;
    border-color: green;
}
.label-retirar {
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.desple {
    position: absolute;
    left: -300px;
    width: 300px;
    height: 100%;
    margin-top: -25px;
    background-color: white;
    transition: all .5s ease;
    z-index: 1000px;
    border: solid transparent;
    overflow-x: hidden;
    overflow-y: auto;
    text-decoration: none;
}

.desple header {
    font-size: 25px;
    font-weight: bold;
    color: green;
    text-align: center;
    border-bottom: solid 2px green;
    line-height: 70px;
    background-color: white;
    user-select: none;
}

.desple ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: green;
    box-sizing: border-box;
    border: none;
    transition: .4s;
    text-decoration: none;
    border: solid transparent;
}

.desple li {
    list-style: none;
}

ul li:hover a {
    padding-left: 50px;
}

.desple ul a i {
    margin-right: 16px;
    text-decoration: none;
}

#check {
    display: none;
}

#flecha {
    position: absolute;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
    color: green;
    border-radius: 100px;
    font-size: 30px;
    background: white;
    height: 50px;
    width: 50px;
    border: solid 1px green;
    text-align: center;
    line-height: 45px;
    transition: all 0.5s ease;
}

#cancelar {
    position: absolute;
    cursor: pointer;
    color: green;
    border-radius: 100px;
    border: 1px solid transparent;
    margin: 50px 15px;
    font-size: 30px;
    background: white;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 45px;
    transition: all 0.5s ease;  
}

label #cancelar {
    opacity: 0;
    visibility: hidden;
}

#check:checked~.desple {
    left: 0;
}

#check:checked~label #flecha {
    margin-left: 320px;
    opacity: 0;
    visibility: hidden;

}

#check:checked~label #cancelar {
    margin-top: 15px;
    margin-left: 320px;
    opacity: 1;
    visibility: visible;
    border: solid 1px green;
}
.modal-body i{
    font-size: 50px;
    color: green;
}
#modalTrans #h4{
    display: none;
}
#modalTrans .fa-circle-check {
    display: none;
    color: green;
}
#modalTrans .fa-circle-xmark{
    display: none;
    color: red;
}
#modalConsig #h4{
    display: none;
}
#modalConsig .fa-circle-check{
    display: none;
    color: green;
}
#modalConsig .fa-circle-xmark{
    display: none;
    color: red;
}
#modalRetirar #h4{
    display: none;
}
#modalRetirar .fa-circle-check{
    display: none;
    color: green;
}
#modalRetirar .fa-circle-xmark{
    display: none;
    color: red;
}
.correcto {
    border-color: green;
}

.incorrecto {
    border-color: red;
}
.frase{
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 400px;
    top: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 15px;
    width: 500px;
    height: 400px;
    margin: 10px;
    background-color: white;
    margin-left: 30px;
    margin-top: -30px;
    border-radius: 10px;
    border: solid 2px green;
}

.bienvenidos{
    color: green;
    margin-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.parra{
    margin-top: 10px;
    color: rgb(27, 27, 27);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
 @media (max-width: 1000px)  {
    .seccionConsultar{
        margin-top: -90px;
        width: 330px;
        height: 450px;
    }
    #btonconsult{
        display: flex;
        width: 100px;
        margin-left: 30px;
        margin-top: 80px; 
        justify-content: center; 

    }

    .seccionConsignar{
        margin-top: -80px;
        margin-left: -10px;
        padding: 180px;
    }
    .titu-consig{
        width: 70%;
        margin-top: -10px;
        margin-left: 40px;
    }
    .img-consing{
        width: 80px;
        height: 80px;
        margin-left: 70px;
    }
    .label-consing,.label-consingdos{
        font-size: 12px;
        margin-left: 30px;
    }
    .input-consig,.input-consigdos{
        width: 180px;
        font-size: 10px;
        margin-left: 20px;
    }
    #boton-consig{
        display:block;
        width: 100px;
        font-size: 10px;
        margin-top: 50px;
        margin-left: 60px;
    }
    .titulo-trans{
        display: block;
        justify-content: center;
        width: 200px;
        margin-left: 30px;
        margin-top: 30px;
    }
    #btn-trans{
        display: block;
        width: 100px;
        margin-top: 10px;
        margin-left: 80px;
        font-size: 10px;
    }
    .secciontrans{
        margin-left: 5px;
        width: 330px;
        height: 520px;
    }
    .input-trans, .input-transdos,.tipos-bancos{
        width: 200px;
        font-size: 10px;
        margin-left: 30px;
    }
    .label-trans,.label-transdos,.label-bancos{
        font-size: 12px;
        margin-left: 30px;
    }
    .img-trans{
        width: 100px;
        height: 100px;
        margin-top: 50px;
        margin-left: 80px;
        display: flex;
    }
    .seccionRetirar{
        width: 350px;
        height: 380px;
    }
    .tituloretirar{
        width: 150px;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 15px;
    }
    .imgretirar{
        width: 80px;
        height: 80px;
        margin-left: 65px;
    }
    .label-retirar{
        font-size: 12px;
        margin-left: 40px;
        margin-top: 60px;
    }
    .inputretirar{
        width: 160px;
        font-size: 10px;
        margin-left: 40px;
        margin-top: 10px;
    }
    #boton-retirar{
        width: 100px;
        font-size:12px;
        margin-left: 60px;
        margin-top: 10px;
    }
    .btn-salir{
        width: 100px;
        font-size: 12px;
        margin-top: -50px;
    }
    .titulo{
        font-size: 20px;
        margin-top: -40px;
    }
    .parra{
        padding: 20px;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .frase{
        margin-top: -100px;
    }
    .bienvenidos{
        font-size: 20px;
    }
}