body {
    margin: 0;
    background-image: url(/assets/img/fondo.png);
    background-size: 100%;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    align-items: center;
    flex-wrap: wrap;
}
p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;   
}


h1 {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: center;
}


.login {
    border-radius: 20px;
    background-color: white;
    width: 370px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-input {
    width: 230px;
    height: 35px;
    background-color: rgb(202, 200, 200);
    margin: 15px;
    border: none;
    border-radius: 10px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form .btn {
    background-color: green;
    color: aliceblue;
    margin: 10px 30px 10px 30px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    border-color: transparent;
}

form .btn:hover {
    background-color: white;
    color: green;
    border-color: green;
}


.comprobante {
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 150px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
}


.barra {
    height: 90px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.btn-salir {
    width: 180px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
    border-color: transparent;
    float: right;
    margin: 20px;
    cursor: pointer;
    color: white;
    font-size: 17px;
}


.btn-salir:hover {
    color: green;
    background-color: white;
    border-color: green;
}

.logotipo {
    height: 90px;
}

.seccionConsultar{
    flex-direction: column;
    width: 45%;
    height: 150px;
    padding: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
    display: none;
    text-align: justify;
}
.seccionConsultar img{
    width: 100px;
    height: 70px;
}
.seccionConsultar input{
    width: 150px;
    height: 70px;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;
    float: right;
    margin: 10px;
}
.seccionConsultar input:hover{
    color: green;
    background-color: white;
    border-color: green;
}
.seccionConsignar{
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 2%;
    padding: 50px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    display: none;
    position: relative;
}
.titu-consig{
    justify-content: center;
    background-color: green;
    width: 300px;
    height: 30px;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
}
.input-consig, .input-consigdos{
    border: none;
    border-bottom: 2px solid black;
    align-items: center;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
    outline: none;
}

.seccionConsignar img{
    width: 100px;
    height: 100px;
}
.seccionRetirar{
    flex-direction: column;
    width: 45%;
    height: 150px;
    padding: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
    display: none;
}
.inputretirar {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 25px;
    width: 430px;
    border-radius: 10px;
    border: solid 2px black;
}
.seccionTransferir{
    flex-direction: column;
    width: 45%;
    height: 150px;
    padding: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
    display: none;
}
.titulotrans{
    background-color: green;
    width: 300px;
    margin-top: 10px;
    margin-top: -10px;
    margin-left: 100px;
    text-align: center;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}
.input-trans{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
    width: 450px;
    border-radius: 10px;
    border: solid 2px black;
}
.input-transdos{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 0.02px;
    width: 450px;
    border-radius: 10px;
    border: solid 2px black;
}
.tipos-bancos{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 5px;
    margin-left: 60px;
    width: 350px;
    border-radius: 10px;
    border: solid 2px black;    
}
.btn-trans{
    padding: 5px;
    width: 160px;
    margin-top: 20px;
    margin-left: 160px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;  
}
.tipos-bancos:hover{
    color:green;
    background-color: white;
    border-color: green;
}
.img-trans{
    width: 110px;
    height: 110px;
    margin-left: 190px;
    margin-top: 20px;
    border-radius: 100px;
    border: solid 2px black;
}
.titulos{
    background-color: green;
    width: 300px;
    margin-top: -60px;
    margin-left: 70px;
    text-align: center;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}

.imgretirar {
    width: 110px;
    height: 110px;
    margin-top: 30px;
    margin-left: 170px;
    border-radius: 100px;
    border: solid 2px black;
}
.btn-retirar {
    padding: 5px;
    width: 160px;
    margin-left: 145px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;
}
.btn-retirar:hover {
    color: green;
    background-color: white;
    border-color: green;
}

.img-consignar{
    width: 110px;
    height: 110px;
    margin-top: 30px;
    margin-left: 190px;
    border-radius: 100px;
    border: solid 2px black;
}
.btnconsignar{
    padding: 5px;
    width: 160px;
    margin-left: 170px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;
}

.btnconsignar:hover{
    color: green;
    background-color: white;
    border-color: green;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.desplegable{
    position: absolute;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: white;
    transition: all .5s ease;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}

.desplegable header{
    font-size: 20px;
    color: green;
    text-align: center;
    line-height: 70px;
    background-color: white;
    user-select: none;
}

.desplegable ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: green;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid green ;
    border-bottom: 1px solid green;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.desplegable ul a i{
    margin-right: 16px;
}

#check{
    display:none;
}

#btn-desple{
    position: absolute;
    cursor: pointer;
    color: green;
    border-radius: 100px;
    border: 1px solid transparent;
    margin: 50px 15px;
    font-size: 29px;
    background: white;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 45px;
    transition: all 0.5s ease;
}

#cancel{
    position: absolute;
    cursor: pointer;
    color: green;
    border-radius: 100px;
    border: 1px solid transparent;
    margin: 50px 15px;
    font-size: 29px;
    background: white;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 45px;
    transition: all 0.5s ease;
}

label #cancel{
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ .desplegable{
    left: 0;
}

#check:checked~label #btn-desple {
    margin-left: 420px;
    opacity: 0;
    visibility: hidden;
}
#check:checked~label #cancel {
    margin-left: 420px;
    opacity: 1;
    visibility: visible;
}
.correcto{
    border-color: green;
}
.incorrecto{
    border-color: red;
}