body {
    background-image: url(/assets/img/fondo.png);
    font-family: sans-serif;
}


main {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    align-items: center;
    flex-wrap: wrap;
}

p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;   
}

h1 {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: center;
}


.login {
    border-radius: 20px;
    background-color: white;
    width: 370px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-input {
    width: 230px;
    height: 35px;
    background-color: rgb(202, 200, 200);
    margin: 15px;
    border: none;
    border-radius: 10px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form .btn {
    background-color: green;
    color: aliceblue;
    margin: 10px 30px 10px 30px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    border-color: transparent;
}

form .btn:hover {
    background-color: white;
    color: green;
    border-color: green;
}

label {
    height: 8px;
    color: rgb(47, 47, 47);
    font-family: sans-serif;
    text-align: center;
}

input {
    margin: 10px;
}

.comprobante {
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 150px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
}


.barra {
    height: 90px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.btn-salir {
    width: 180px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;
    float: right;
    margin: 20px;
    cursor: pointer;
}

.btn-salir:hover {
    color: green;
    background-color: white;
    border-color: green;
}

.logotipo {
    height: 90px;
}

nav {
    height: 570px;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
    align-items: center;
    justify-content: top;
}

ul a {
    text-decoration: none;
}

li {
    height: 40px;
}

li:hover {
    background-color: green;
    color: white;
}

.seccionOpciones {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 150px;
    padding: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
}


.titu-retirar{
    background-color: green;
    width: 300px;
    margin-top: -60px;
    margin-left: 70px;
    text-align: center;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}

.imgretirar {
    width: 110px;
    height: 110px;
    margin-top: 30px;
    margin-left: 170px;
    border-radius: 100px;
    border: solid 2px black;
}

.inputretirar {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 25px;
    width: 430px;
    border-radius: 10px;
    border: solid 2px black;
}

.btn-retirar {
    padding: 5px;
    width: 160px;
    margin-left: 145px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;
}
.btn-retirar:hover {
    color: green;
    background-color: white;
    border-color: green;
}


.titu-consig{
    background-color: green;
    width: 300px;
    margin-top: -40px;
    margin-left: 90px;
    text-align: center;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}

.input-consig{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 30px;
    width: 430px;
    border-radius: 10px;
    border: solid 2px black;
}
.input-consigdos{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 5px;
    width: 430px;
    border-radius: 10px;
    border: solid 2px black;
}

.img-consignar{
    width: 110px;
    height: 110px;
    margin-top: 30px;
    margin-left: 190px;
    border-radius: 100px;
    border: solid 2px black;
}

.btnconsignar{
    padding: 5px;
    width: 160px;
    margin-left: 170px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;
}

.btnconsignar:hover{
    color: green;
    background-color: white;
    border-color: green;
}

.titulo-consult{
    background-color: green;
    width: 300px;
    margin-top: -40px;
    text-align: center;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}

.img-consult{
    width: 130px;
    height: 130px;
    margin-top: 30px;
    border-radius: 100px;
    border: solid 2px black;
}

.btonconsult{
    padding: 5px;
    width: 160px;
    margin-top: 50px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;
}

.consult{
    font-size: 10px;
}

.btonconsult:hover{
    color:green;
    background-color: white;
    border-color: green;
}

.seccionOpciones-trans{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100px;
    padding: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px green;
    align-items: center;
    justify-content: center;
}

.titulotrans{
    background-color: green;
    width: 300px;
    margin-top: -10px;
    margin-left: 100px;
    text-align: center;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
}

.input-trans{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
    width: 450px;
    border-radius: 10px;
    border: solid 2px black;
}

.input-transdos{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 0.02px;
    width: 450px;
    border-radius: 10px;
    border: solid 2px black;
}

.tipos-bancos{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-top: 5px;
    margin-left: 60px;
    width: 350px;
    border-radius: 10px;
    border: solid 2px black;    
}

.img-trans{
    width: 110px;
    height: 110px;
    margin-left: 190px;
    margin-top: 20px;
    border-radius: 100px;
    border: solid 2px black;
}

.btn-trans{
    padding: 5px;
    width: 160px;
    margin-top: 20px;
    margin-left: 160px;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border-color: transparent;  
}

.tipos-bancos:hover{
    color:green;
    background-color: white;
    border-color: green;
}


.btn-trans:hover{
    color:green;
    background-color: white;
    border-color: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desplegabledos{
    position: fixed;
    left: -400px;
    width: 400px;
    height: 100vh;
    background-color: white;
    transition: all .5s ease;
    border-radius: 20px;
    border: solid 2px green;
}

.desplegabledos section{
    font-size: 20px;
    color: green;
    text-align: center;
    line-height: 70px;
    background-color: white;
    user-select: none;
    border-radius: 16px;
   
}

.desplegabledos ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    color: green;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    transition: .2s;
}

ul li:hover a{
    padding-left: 50px;
}


ul li a:hover{
    background-color: lightgray;
}

.desplegabledos ul a i{
    margin-right: 16px;
}

#check{
    display:none;
}

label #btn-desplegabledos{
    position:absolute;
    cursor: pointer;
    background-color: white;
    border: solid 3px green;
    border-radius: 10px ;
    top: 10px;
    left: 150px;
    font-size: 20px;
    padding: 15px 15px;
    animation-name: mover;
    animation-duration: .5s;
}


#check:checked ~ .desplegabledos{
    left: 0;
}

#check:checked ~ #btn-desplegabledos{
    left: 250px;
    opacity: 0;
}

#btn-desplegabledos:hover{
    color: green;
    background-color: lightgrey;
    border-color: green;
}
